* {
  box-sizing: border-box;
  --starbucks-green: rgb(102, 153, 0);
  --starbucks-brown: rgb(89, 43, 24);
  --starbucks-gold: rgb(217, 170, 138);
  --starbucks-white: rgb(246, 245, 240);
  --starbucks-grey: rgb(50, 50, 50);
  --starbucks-darkgrey: rgb(39, 39, 39);
}

/* COMMON */
body {
  color: var(--starbucks-grey);
  font-size: 16px;
  font-weight: 400;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 1.4;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.btn {
  display: block;
  width: 130px;
  color: var(--starbucks-grey);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 2px solid var(--starbucks-grey);
  border-radius: 4px;
  padding: 10px;
  transition: 0.5s;
}

.btn:hover {
  color: rgb(255, 255, 255);
  background-color: var(--starbucks-grey);
}

.btn.btn--reverse {
  color: rgb(255, 255, 255);
  background-color: var(--starbucks-grey);
}

.btn.btn--reverse:hover {
  color: var(--starbucks-grey);
  background-color: transparent;
}

.btn.btn--brown {
  color: var(--starbucks-brown);
  border-color: var(--starbucks-brown);
}

.btn.btn--brown:hover {
  color: rgb(255, 255, 255);
  background-color: var(--starbucks-brown);
}

.btn.btn--gold {
  color: var(--starbucks-gold);
  border-color: var(--starbucks-gold);
}

.btn.btn--gold:hover {
  color: rgb(255, 255, 255);
  background-color: var(--starbucks-gold);
}

.btn.btn--white {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.btn.btn--white:hover {
  color: var(--starbucks-grey);
  background-color: rgb(255, 255, 255);
}

.back-to-position {
  opacity: 0;
  transition: 1s;
}

.back-to-position.to-right {
  transform: translateX(-150px);
}

.back-to-position.to-left {
  transform: translateX(150px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

.show .back-to-position.delay-0 {
  transition-delay: 0;
}

.show .back-to-position.delay-1 {
  transition-delay: .3s;
}

.show .back-to-position.delay-2 {
  transition-delay: .6s;
}

.show .back-to-position.delay-3 {
  transition-delay: .9s;
}

/* header */
header {
  display: flex;
  justify-content: center;
  background-color: var(--starbucks-white);
  border-bottom: 1px solid rgb(200, 200, 200);
  position: sticky;
  top: 0;
  z-index: 9;
}

header>.inner {
  height: 120px;
}

header .inner a.logo {
  height: 75px;
}

header .inner .gnb {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

header .inner .gnb .sub-menu {
  display: flex;
}

header .inner .gnb .sub-menu ul.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

header .inner .gnb .sub-menu ul.menu li {
  position: relative;
}

header .inner .gnb .sub-menu ul.menu li::before {
  content: '';
  width: 1px;
  height: 12px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto 0;
  background-color: rgb(230, 230, 230);
}

header .inner .gnb .sub-menu ul.menu li:nth-child(1)::before {
  display: none;
}

header .inner .gnb .sub-menu ul.menu li a {
  display: inline-block;
  font-size: 12px;
  padding: 11px 16px;
  color: rgb(100, 100, 100);
}

header .inner .gnb .sub-menu ul.menu li a:hover {
  color: rgb(0, 0, 0);
}

/* header .gnb .sub-menu .search {
  position: relative;
}

header .gnb .sub-menu .search input {
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 4px 10px;
  outline: 0px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(120, 120, 120);
  font-size: 12px;
  transition: 0.5s;
}

header .gnb .sub-menu .search input:focus {
  width: 200px;
  border: 1px solid var(--starbucks-green);
}

header .gnb .sub-menu .search .material-icons {
  width: 18px;
  height: 18px;
  position: absolute;
  font-size: 18px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

header .gnb .sub-menu .search.focused .material-icons {
  opacity: 0;
} */

header .inner .gnb .sub-menu .search-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 10px 0;
  padding: 4px 10px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

header .inner .gnb .sub-menu .search-wrap input {
  width: 0px;
  height: 32px;
  outline: 0px;
  color: rgb(120, 120, 120);
  font-size: 12px;
  outline: none;
  border: none;
  padding: 0;
  transition: 0.5s;
}

header .inner .gnb .sub-menu .search-wrap:focus {
  border: 1px solid var(--starbucks-green);
}

header .inner .gnb .sub-menu .search-wrap:focus input {
  width: 200px;
}


header .inner .gnb .sub-menu .search-wrap .material-icons {
  width: 18px;
  height: 18px;
  font-size: 18px;
  z-index: 10;
}

header .inner .gnb .main-menu {
  display: flex;
  flex-direction: row;
  z-index: 1;
}

header .inner .gnb .main-menu li.item {}

header .inner .gnb .main-menu li.item .item__name {
  font-size: 13px;
  font-family: Arial, sans-serif;
  padding: 10px 20px 30px 20px;
}

header .inner .gnb .main-menu li.item:hover .item__name {
  color: var(--starbucks-green);
  background-color: var(--starbucks-grey);
  border-radius: 6px 6px 0 0;
}

header .inner .gnb .main-menu li.item .item__contents {
  display: none;
  width: 100%;
  position: fixed;
  left: 0;
}

header .inner .gnb .main-menu li.item:hover .item__contents {
  display: block;
}

header .inner .gnb .main-menu li.item .item__contents .contents__menu {
  color: var(--starbucks-green);
  background-color: var(--starbucks-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .inner .gnb .main-menu li.item .item__contents .contents__menu>ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0;
}

header .inner .gnb .main-menu li.item .item__contents .contents__menu>ul>li {
  width: 220px;
}

header .inner .gnb .main-menu li.item .item__contents .contents__menu>ul>li h4 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 3px 0 12px 0;
}

header .inner .gnb .main-menu li.item .item__contents .contents__menu>ul>li ul {}

header .inner .gnb .main-menu li.item .item__contents .contents__menu>ul>li ul li {
  color: rgb(150, 150, 150);
  font-size: 12px;
  padding: 5px 0;
  cursor: pointer;
  transition: 0.3s;
}

header .inner .gnb .main-menu li.item .item__contents .contents__menu>ul>li ul li:hover {
  color: var(--starbucks-green);
}

header .inner .gnb .main-menu li.item .item__contents .contents__texture {
  background-image: url("../images/main_menu_pattern.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  padding: 26px 0;
}

header .inner .gnb .main-menu li.item .item__contents .contents__texture .inner {
  flex-direction: column;
  align-items: flex-start;
}

header .inner .gnb .main-menu li.item .item__contents .contents__texture .inner h4 {
  color: rgb(153, 153, 153);
  font-weight: 700;
}

header .inner .gnb .main-menu li.item .item__contents .contents__texture .inner p {
  color: var(--starbucks-green);
  margin: 4px 0 14px;
}

header .badges {
  position: fixed;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}


/* FOOTER */
/* FOOTER */
footer {
  background-color: var(--starbucks-darkgrey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer .inner {
  padding: 40px 0 60px 0;
  display: flex;
  flex-direction: column;
}

footer .inner .menu {
  display: flex;
  justify-content: center;
}

footer .inner .menu li {
  position: relative;
}

footer .inner .menu li::before {
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

footer .inner .menu li:first-child::before {
  display: none;
}

footer .inner .menu li a {
  display: block;
  color: var(--starbucks-white);
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
}

footer .inner .menu li a.green {
  color: var(--starbucks-green);
}

footer .inner .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

footer .inner .btn-group .btn {
  font-size: 12px;
}

footer .inner .info {
  color: var(--starbucks-white);
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer .inner .info span {
  color: #999;
  font-size: 12px;
}

footer .inner .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}

footer .inner .logo {
  margin: 30px auto 0;
}