/* VISUAL */
.visual {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}

.visual .inner {
  height: 646px;
  position: relative;
}

.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}

.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}

.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}

.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}

.visual .fade-in {
  opacity: 0;
}

/* NOTICE */
.notice {}

.notice .notice-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.notice .notice-line .bg-left {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--starbucks-grey);
  z-index: -1;
}

.notice .notice-line .bg-right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--starbucks-white);
  z-index: -1;
}

.notice .notice-line .inner {
  height: 62px;
}

.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: var(--starbucks-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__left h2 {
  color: var(--starbucks-white);
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner__left .swiper {
  height: 100%;
  flex-grow: 1;
}

.notice .notice-line .inner__left .swiper .swiper-slide {
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left .swiper .swiper-slide a {
  color: white;
}

.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: var(--starbucks-white);
  font-size: 30px;
}

.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}

.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

.notice .promotion {
  height: 693px;
  background-color: var(--starbucks-white);
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.notice .promotion.hide {
  height: 0;
}

.notice .promotion .swiper {
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / (-2));
}

.notice .promotion .swiper-slide {
  opacity: 0.5;
  transition: 0.5s;
  position: relative;
}

.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: 0.5s;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  outline: none;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}

.notice .promotion .swiper-button-prev,
.notice .promotion .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  color: var(--starbucks-grey);
  border: 2px solid var(--starbucks-grey);
  border-radius: 50%;
  outline: none;
  position: absolute;
  top: 300px;
  z-index: 1;
  transition: 0.5s;
}

.notice .promotion .swiper-button-prev {
  left: 50%;
  margin-left: -480px;
}

.notice .promotion .swiper-button-next {
  right: 50%;
  margin-right: -480px;
}

.notice .promotion .swiper-button-prev:after,
.notice .promotion .swiper-button-next:after {
  content: '';
}

.notice .promotion .swiper-button-prev:hover,
.notice .promotion .swiper-button-next:hover {
  background-color: var(--starbucks-grey);
  color: rgb(255, 255, 255);
}


/* REWARDS */
.rewards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.rewards .bg-left,
.rewards .bg-right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}


.rewards .bg-left {
  background-color: #272727;
  left: 0;
}

.rewards .bg-right {
  background-color: #d5c798;
  right: 0;
}

.rewards .inner {
  background-image: url("../images/rewards.jpg");
  height: 241px;
}

.rewards .btn-group {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  bottom: 24px;
  right: 0;
}

.rewards .btn-group .sign-up {}

.rewards .btn-group .sign-in {
  width: 110px;
}

.rewards .btn-group .gift {
  flex-grow: 1;
}


/* YOUTUBE VIDEO */
.youtube {
  position: relative;
  height: 700px;
  background-color: var(--starbucks-grey);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.youtube .youtube__area {
  width: 1920px;
  background-color: orange;
  position: absolute;
  top: 50%;
  margin-top: calc(1920px * 0.5625 / -2);
  left: 50%;
  margin-left: calc(1920px / -2);
}

.youtube .youtube__area::before {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .youtube__cover {
  width: 100%;
  height: 100%;
  background-image: url("../images/video_cover_pattern.png");
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner {
  height: 700px;
}

.youtube .inner .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}

.youtube .inner .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}

.season-product .inner .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}


/* SEASON PRODUCT */
.season-product {
  background-image: url("../images/season_product_bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.season-product.scroll-spy {}

.season-product .inner {
  height: 400px;
}

.season-product .inner .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}

.season-product .inner .text-group .title {
  margin-bottom: 10px;
}

.season-product .inner .text-group .description {
  margin-bottom: 15px;
}

.season-product .inner .text-group .more {}


/* RESERVE COFFEE */
.reserver-coffee {
  background-image: url("../images/reserve_bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.reserver-coffee .inner {
  height: 400px;
}

.reserver-coffee .inner .reserver-logo {
  position: absolute;
  top: 110px;
  left: 0;
}

.reserver-coffee .inner .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}

.reserver-coffee .inner .product {
  position: absolute;
  top: 0;
  right: 0;
}


/* PICK YOUR FAVORITE */
.pick-your-favorite {
  background-image: url("../images/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pick-your-favorite .inner {
  padding: 110px 0;
}

.pick-your-favorite .inner .text-group {
  width: 362px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 40px;
  margin-left: 100px;
}

.pick-your-favorite .inner .text-group .title {}

.pick-your-favorite .inner .text-group .description {}


/* RESERVE STORE */
.reserver-store {
  background-image: url("../images/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.reserver-store .inner {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reserver-store .inner .medal {
  display: inline-block;
  perspective: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reserver-store .inner .medal .front,
.reserver-store .inner .medal .back {
  width: 334px;
  height: 334px;
  backface-visibility: hidden;
  transition: transform 1s;
}

.reserver-store .inner .medal:hover .front,
.reserver-store .inner .medal:hover .back {}

.reserver-store .inner .medal .front {
  position: absolute;
  transform: rotateY(0deg);
}

.reserver-store .inner .medal:hover .front {
  transform: rotateY(-180deg);
}

.reserver-store .inner .medal .back {
  position: relative;
  transform: scale(0.5) rotateY(180deg);
}

.reserver-store .inner .medal:hover .back {

  transform: scale(1) rotateY(0deg);
}

.reserver-store .inner .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}


/* FIND THE STORE */
.find-store {
  background-image: url(../images/find_store_bg.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.find-store .inner {
  height: 400px;
}

.find-store .inner .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}

.find-store .inner .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.find-store .inner .picture {
  position: absolute;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.find-store .inner .picture1 {
  top: -60px;
  left: 0;
}

.find-store .inner .picture2 {
  top: 150px;
  left: 250px;
}

.find-store .inner .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}

.find-store .inner .text-group .title {
  margin-bottom: 20px;
}

.find-store .inner .text-group .description {
  margin-bottom: 20px;
}


/* AWARDS */
.awards {
  background-color: var(--starbucks-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.awards .inner {
  padding: 40px 0;
}

.awards .inner .swiper {
  width: 100%;
  height: 40px;
}

.awards .inner .swiper-button-prev,
.awards .inner .swiper-button-next {
  width: 30px;
  height: 30px;
  color: var(--starbucks-white);
  border: 2px solid var(--starbucks-white);
  border-radius: 50%;
  opacity: 0.5;
  outline: none;
  overflow: visible;
  z-index: 10;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.awards .inner .swiper-button-prev:after,
.awards .inner .swiper-button-next:after {
  content: '';
}

.awards .inner .swiper-button-prev {
  left: -100px;
}

.awards .inner .swiper-button-next {
  right: -100px;
}

.awards .inner .swiper-button-prev:hover,
.awards .inner .swiper-button-next:hover {
  background-color: var(--starbucks-white);
  color: rgb(51, 51, 51);
}


/* FOOTER */
#to-top {
  width: 40px;
  height: 40px;
  border: 2px solid var(--starbucks-green);
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  background-color: var(--starbucks-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  bottom: 30px;
  right: 30px;
  transition: 0.5s;
}

#to-top .material-icons {
  font-size: 25px;
  color: var(--starbucks-green);
}

#to-top:hover {
  cursor: pointer;
  border-radius: 50% 50% 15% 50%;
  background-color: var(--starbucks-brown);
}